/* line 1, ../../sass/partials/header.scss */
header {
  background-color: #7828B4;
  padding: 24px 0;
}
/* line 4, ../../sass/partials/header.scss */
header .web-name {
  text-align: center;
  line-height: 45px;
  font-family: "Optima-ExtraBlack";
  font-size: 36px;
  color: #FFFFFF;
}
/* line 11, ../../sass/partials/header.scss */
header .explore-activity {
  font-size: 20px;
  border-bottom: 1px solid #FFFFFF;
  width: 388px;
}
/* line 17, ../../sass/partials/header.scss */
header .explore-activity span i {
  color: #FFFFFF;
}
/* line 22, ../../sass/partials/header.scss */
header .explore-activity input {
  height: 100%;
  line-height: 24px;
  background-color: inherit;
  border: none;
  width: 90%;
}
/* line 29, ../../sass/partials/header.scss */
header .explore-activity input::placeholder {
  font-family: "Roboto-Italic" !important;
  color: rgba(255, 255, 255, 0.5);
}
